@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap"); /* فونت شبیه به اعداد دیجیتال */

.DashboardCards {
  background-color: #fff;
  padding-top: 2.2vw;
  padding-bottom: 8px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.station-header {
  background-color: #979797;
  color: white;
  padding: 4px;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.card-img {
  width: 6vh;
  height: 6vh;
  background-color: #45a049;
  object-fit: cover;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.edit-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #45a049;
}
/* استایل ساعت دیجیتال */
.digital-clock {
  font-family: "Orbitron", sans-serif; /* فونت دیجیتالی */
  /* font-size: 32px; */
  background-color: #2e2e2e; /* پس‌زمینه مشکی */
  color: #00ff00; /* رنگ اعداد سبز */
  text-align: center;
  padding: 4px 8px;
  border-radius: 8px;
  /* margin: 16px 0; */
  display: inline-block;
  width: 50%;
  box-shadow: inset 0 0 10px #00ff00;
}
