@font-face {
  font-family: Vazir;
  src: url('../fonts/Vazir-FD.ttf') format('woff'),
    url('../fonts/Vazir-Bold-FD.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "hairline";
  src: url("../fonts/Yekan-Hairline.ttf") format("ttf");
  src: url("../fonts/Yekan-Hairline.woff") format("woff");
}

@font-face {
  font-family: "main";
  src: url("../fonts/Yekan-Medium.ttf") format("ttf"),
   url("../fonts/Yekan-Medium.woff") format("woff");  
}

@font-face {
  font-family: "light";
  src: url("../fonts/Yekan-Light.ttf") format("ttf");
  src: url("../fonts/Yekan-Light.woff") format("woff");
}
@font-face {
  font-family: Vazir Medium FD;
  src: url('../fonts/Vazir-Medium-FD.woff') format('woff'),
    url('../fonts/Vazir-Medium-FD.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: Vazir Digit;
  src: url('../fonts/vazir/Farsi-Digits/Vazir-Light-FD.eot') format('woff'),
    url('../fonts/vazir/Farsi-Digits/Vazir-Light-FD.eot') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Yekan Medium;
  src: url('../fonts/Yekan-Hairline.ttf') format('ttf'),
    url('./fonts/Yekan-Hairline.ttf') format('truetype');
}

@font-face {
  font-family: "Yekan Bakh";
  font-weight: 300;
  src: url("../fonts/Yekan-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Yekan Bakh";
  font-weight: 500;
  src: url("../fonts/Yekan-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Yekan Bakh";
  font-weight: 500;
  src: url("../fonts/Yekan-Medium.ttf") format("truetype");
}
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Karla|Cairo:300');