.personnel-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
}

.card {
  background-color: #fff;
  padding:8px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  position: relative;
}

.card-img {
  width:10vh;
  height: 10vh;
  background-color: #45a049;
  object-fit: cover;
  border-radius: 50%;
}

.edit-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #45a049;
}
